Eeasyui_EF_Web/Eeasyui_EF_Web/bin/
Eeasyui_EF_Web/Eeasyui_EF_Web/obj/
Eeasyui_EF_Web/Entity/bin/Debug/Entity.dll
Eeasyui_EF_Web/Entity/bin/
Eeasyui_EF_Web/packages/
Eeasyui_EF_Web/Entity/obj/
Eeasyui_EF_Web/EFPowerTool/obj/
Eeasyui_EF_Web/EFPowerTool/bin/
Eeasyui_EF_Web/DBContext/obj/
Eeasyui_EF_Web/Common/bin/
Eeasyui_EF_Web/Common/obj/
Eeasyui_EF_Web/DBContext/bin/
Eeasyui_EF_Web/Service/bin/
*Debug
